.chatbox {
    width: 320px;
    height: 750px;
    position: fixed !important;
    right: 0 !important;
    bottom: 0 !important;
    margin-bottom: -670px;    
    transition: margin-bottom 1s cubic-bezier(0.37, 0.21, 0, 1.04)
}

.chatboxShown {
    margin-bottom: 0px;
}

.wc-chatview-panel {
    top: 200px !important;
    border: 1px solid !important;
    background: white !important;
}

.wc-header {
    background-color: #000000 !important;
}

.wc-message-content {
    background-color: #000000 !important;
    color: #ffffff !important;
}

.chatboxWebchat {
    height: 400px;
}

.spinner {
     margin-left: 130px;
}

.chatboxClippy {
    height: 200px;
}

.chatLogoCR {
    margin: auto;
    top: 100px;
    position: absolute;
    opacity: 80%;
}

#chatbottoggle {
    background: transparent;
    border: transparent;
    line-height: 18px;
    padding: 13.5px 20px;
}

.clippy {
    margin:auto;
    margin-top: 90px;
    left:0px;
    top:0px;
}

.logobutton {
    height: 30px;
}

.logobutton img {
    height: 100%;
}

.nreach-btn-container {
    border: 0 !important;
    padding: 0 !important;
}

.wc-message-from-me svg.wc-message-callout path {
    fill: #000000;
}