[submodule "data"]
	path = data
	url = https://github.com/ksjogo/oxrti_data.git
	branch = master
[submodule "thesis"]
	path = thesis
	url = https://github.com/ksjogo/oxrti_thesis.git
	branch = master
